html,
body {
  margin: 0;
  height: 100%;
}
body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1% 5% 5% 5%;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-container button {
  width: 2%;
  height: 2rem;
}
